@tailwind base;
@tailwind components;
@tailwind utilities;

.title-product {
	font-size: 1.5rem;
	font-weight: 700;
	margin: 20px;
}

.carousel-center {
	display: flex;
	justify-content: center;
}

.product-txt {
	font-size: 1rem;
	font-weight: 500;
	margin: 20px;
}

.product-txt span {
	font-weight: 700;
}

.btn-center {
	margin: 0 auto;
}

.adm-header-txt {
	margin-right: 20px;
}

.adm-header-bg {
	background-color: aqua;
}

.adm-h1 {
	font-size: 1.2rem;
	font-weight: 600;
	margin: 20px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-20-auto {
	margin: 20px auto;
}

/* Стилі для міста та відділень */
.city-list,
.branch-list {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	max-height: 150px;
	overflow-y: auto;
}
.city-list li,
.branch-list li {
	padding: 10px;
	cursor: pointer;
}
.city-list li:hover,
.branch-list li:hover {
	background-color: #f0f0f0;
}
